*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
/* header starts  */
.header{
    background-image: url(images/banner/banner2.png);
    height: 809px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    display: flex;
  flex-direction: column;
  margin: auto;
  width: 525px;
  text-align: right;
  margin-right: 160px;
  padding-top: 200px;
}
.banner-title{
    color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.btn-primary{
    margin: 0 auto;
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f15b22;
  font-size: 20px;
  color: white;
}
.banner-description{
    font-size: 16px;
  font-weight: 400;
  text-align: right;
}
section{
    margin-top: 139px;
}
/* middle section starts from here  */
.main-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: column;
}
    
.middle-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
width: 288px;
margin-bottom: 24px;
}
.main-description {
    color:#444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 10px;
}

ul{
    list-style-type: none;
}

/* my plan section  */
.logos{
    display: flex;
    width: 1600px;
    height: 3223px;
    text-align: center;
}
.plan-title{
    color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.plan-names{
    font-size: 30px;
  text-align: center;
}
.what-I-wanna-do{
    color: #737373;
    text-align: center;
    font-size: 25px;
}
.logo-des {
    width: 92px;
    height: 92px;
    display: block;
    margin: 0 auto;
}
.plan-img{
    width: 92px;
    height: 92px;
    display: block;
    margin: 0 auto;
}
/* watch section  */
.watch{
    background-image: url(images/watch.png);
    width: 1140px;
height: 300px;
border-radius: 8px;
background: linear-gradient();
}
.watch-heading{
    color: #FFF;
font-size: 40px;
font-weight: 700;
}
.btn-second{
    width: 160px;
height: 64px;
border-radius: 5px #FFF;
color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}

/* end  */
.end{
    background-color:#151414;
}
.foot{
    display:flex;
    justify-content: space-between;
    width: 1600px;
height: 577px;
}
#in{
    border-radius: 8px;
border: 1px solid #FFF;
background:#151414;
width: 325px;
height: 64px;
}

