*{
    font-family: 'Work Sans', sans-serif;
}
.starting{
    background-image: url(images/banner/banner2.png);
    width: 1600px;
    height: 809px;
}

.btn-primary{
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
}
.starting-para{
    color:#444343;
text-align: right;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

/* middle section starts from here  */
.main-sec{
    width: 1600px;
height: 3223px;
align-items: center;
padding: 2px;
margin: 2px;
}



.middle{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
    

.middle-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
}
.main-description, ul{
    color:#444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

ul{
    list-style-type: none;
}

/* my plan section  */
.logos{
    display: flex;
    width: 1600px;
    height: 3223px;
    text-align: center;
}

/* watch section  */
.watch{
    background-image: url(images/watch.png);
    width: 1140px;
height: 300px;
border-radius: 8px;
background: linear-gradient();
}
.watch-heading{
    color: #FFF;
font-size: 40px;
font-weight: 700;
}
.btn-second{
    width: 160px;
height: 64px;
border-radius: 5px #FFF;
color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}

/* end  */
.end{
    background-color:#151414;
}
.foot{
    display:flex;
    justify-content: space-between;
    width: 1600px;
height: 577px;
}
#in{
    border-radius: 8px;
border: 1px solid #FFF;
background:#151414;
width: 325px;
height: 64px;
}